services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: r-redis-api
    ports:
      - "8087:8087"
    depends_on:
      - redis
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/r_redis
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    networks:
      - r-redis-network
  redis:
    image: redis:latest
    container_name: r-redis
    ports:
      - "6379:6379"
    networks:
      - r-redis-network

  postgres:
    image: postgres:latest
    container_name: r-redis-postgres
    environment:
      POSTGRES_DB: r_redis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - r-redis-network

  redis-insight:
    image: redis/redisinsight:latest
    container_name: r-redisinsight
    restart: always
    depends_on:
      - redis
    ports:
      - "5540:5540"
    volumes:
      - redis-insight:/data
    networks:
      - r-redis-network

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: r-redis-ui
    ports:
      - "3000:3000"
    environment:
      - API_BASE=http://r-redis-api:8087/api/v1
      - REDIS_URL=redis://r-redis:6379
    depends_on:
      - api
    networks:
      - r-redis-network

volumes:
  redis-insight:
  pgdata:

networks:
  r-redis-network:
    driver: bridge
